
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Changa+One:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');


/* KEYFRAMES */

@keyframes popcornJump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes typing {
    from { width: 0; }
    to { width: 10ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

/* STYLES */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #252525, #000000);
}

/*NAV-BAR START:*/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    position: relative;
}

.logo {
    position: absolute;
    left: 40px;
    top: 20px;
    transition: all 0.3s ease;
}

.logo img {
    height: 350px;
}

.logo img {
    height: 350px;
}

.logo:hover {
    transform: translateY(-10px);
}

.navigation {
    display: flex;
    gap: 9rem;
    padding-top: 20px;
}

.navigation p {
    font-family: 'Changa One', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.navigation p:hover { 
    background-color: red;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
    border-bottom: 4px solid white;
}

.responsive-buttons {
    position: absolute;
    right: 40px;
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
}

.responsive-buttons img:hover {
    box-shadow: 0 8px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
}

.responsive-buttons img {
    width: 28px;
    transition: all 0.3s ease;
}

/*NAV-BAR END:*/

/*HOME START:*/

.home-begins {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.505);
}

.home-title {
    font-family: 'Changa One', sans-serif;
    margin-top: 15rem;
    padding-left: 7rem;
    color: white;
    width: 55%;
}

.popcorn-button {
  animation: popcornJump 0.5s ease-in-out;
  height: 30px;
  font-size: 20px;
}

#popcorn-button {
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
}

.home-title h1 {
    font-size: 5rem;
    margin-top: -30px;
}

.home-title a {
    text-decoration: none;
}

.home-title p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 50px;
    margin-top: -50px;
}

.home-title button {
    font-family: 'Changa One', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0 auto;
    padding: 8px 15px;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.home-title button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
    border-bottom: 4px solid white;
}

#title-movies {
    font-family: 'Bangers', sans-serif;
    color: red;
    font-size: 14rem;
    letter-spacing: 20px;
    font-family: 'Bangers', sans-serif;
    width: 22ch;
    box-sizing: content-box;   
    color: red;
    font-size: 15rem;
    letter-spacing: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid red;
    animation: typing 2.5s steps(25) infinite alternate,
    blink 2.4s step-end infinite;
}

.movie-photos img {
    width: 60%;
}

.movie-photos {
    position: relative; 
    width: 600px;
    height: 600px;
    margin: 50px auto; 
}

.batman-photo {
    position: absolute; 
    bottom: -90px;
    left: 30px;
    right: 30px;
    z-index: 20; 
    width: 450px; 
    height: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7); 
}

.deadpool-photo {
    position: absolute; 
    top: 0;
    right: 0;
    z-index: 10; 
    width: 400px; 
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.movie-photos img:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
    border-radius: 6%;
}

.movie-photos img {
    transition: all 0.5s ease;
}

/*HOME END:*/

/*TRENDING START:*/

.trending-section {
    font-family: 'Changa One', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.505);
}

.trending-movies {
    display: flex;
    height: 200px;
    gap: 5px;
    margin-left: 10px;
}

.trending-movies img {
    height: 500px;
}

.zootopia-movie {
    width: 340px;
    height: 580px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s ease;
}

.movie-info {
    padding: 10px 0;
}

.movie-info h2 {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #000;
}

.movie-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
    letter-spacing: 1px;
}

.frankenstein-movie {
    width: 340px;
    height: 580px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s ease;
}

.predator-movie {
    width: 340px;
    height: 580px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s ease;
}

.wicked-movie {
    width: 310px;
    height: 580px;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s ease;
}

.zootopia-movie:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-10px);
}

.frankenstein-movie:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-10px);
}

.predator-movie:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-10px);
}

.wicked-movie:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-10px);
}

/* MOVIE DETAIL START */

.movie-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 86, 86, 0.436);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.movie-detail.hidden {
    display: none;
}

.detail-content {
    background: rgb(255, 217, 217);
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 700px;
    color: #000;
    position: relative;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: black;
}

.detail-content img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 70px;
    margin-bottom: 20px;
}

.detail-content h2 {
    font-family: 'Outfit', sans-serif;
    margin-top: 0;
    font-size: 2rem;
}

.detail-content p {
    font-family: 'Outfit', sans-serif;
    margin: 5px 0;
    letter-spacing: 1px;
}

.movie-detail .label {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.movie-detail .value {
    color: #555;
    font-weight: normal;
    font-size: 0.95rem;
    display: inline-block;
    margin-top: 2px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
}

.close-button:hover {
    color: #e50914;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/* MOVIE DETAILS END: */

/*TRENDING END:*/

/*COSTA TIPS START:*/

.fade {
  transition: opacity 0.5s;
}

.costa-tips-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 130px;
}

#slide {
    margin-top: 100px;
    height: 500px;
    margin-left: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s;
    transition: all 0.5s ease;
    border-radius: 30px;
}

.costa-tips-section img:last-child {
    height: 500px;
}

#slide:hover {
    box-shadow: 0 8px 20px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-10px);
}

.button-tips {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-img {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 0.5s ease;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.btn-img img {
    width: 50px;
    height: 50px;
}

.btn-img:hover { 
    background-color: red;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
    border-bottom: 4px solid white;
}

/*COSTA TIPS END:*/

/*OLD BUT GOLD START:*/

.old-but-gold-section {
    border-top: 1px solid rgba(255, 255, 255, 0.505);
    margin-top: 500px;
}

.old-but-gold-section h3 {
    color: white;
    font-family: 'Changa One', sans-serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 4px;
}

.old-but-gold-section .slider {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}

.old-but-gold-section .slide-track {
    display: flex;
    gap: 20px;
    width: calc(300px * 10 + 20px * 9);
}

.old-but-gold-section .slide-track img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}

.old-but-gold-section .slider-right .slide-track {
    animation: scroll-right 20s linear infinite;
}

.old-but-gold-section .slider-left .slide-track {
    animation: scroll-left 20s linear infinite;
}

.button-gold-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.old-but-gold-section .slide-track img:hover {
    box-shadow: 0 8px 20px 10px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
}

/*OLD BUT GOLD END:*/

/*CONTACT FORM SECTION START:*/

.contact-section {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 12px;
    color: white;
    font-family: 'Outfit', sans-serif;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.contact-section h4 {
    text-align: center;
    margin-top: -2px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact-section h4:hover {
    box-shadow: 0 8px 20px rgba(255, 35, 35, 0.35);
    transform: translateY(-5px);
}

.contact-section p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
}

.contact-section form {
    display: flex;
    flex-direction: column;
}

.contact-section label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-section input,
.contact-section textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 1rem;
}

.contact-section textarea {
    height: 120px;
    resize: none;
}

.contact-section button {
    padding: 12px;
    background: #ff4747;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
}
.button-send {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*CONTACT FORM SECTION END:*/

/*SOCIAL MEDIA SECTION START:*/

.social-section {
    text-align: center;
    padding: 40px 0;
    background-color: #111;
    color: white;
    font-family: 'Changa One', sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-section h5 {
    font-family: 'Changa One', sans-serif;
    font-size: 2.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons a img {
    width: 125px;
    height: 100px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
}

/*SOCIAL MEDIA SECTION END:*/

/*FOOTER START:*/

.site-footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 0;
    width: 100%;
}

.site-footer p {
    margin: 0;
    letter-spacing: 1px;
}

/*FOOTER END:*/

/* LIGHT MODE */
.light-mode {
    background: radial-gradient(circle, #ffffff, #dcdcdc);
    color: #000 !important;
}

.light-mode .navigation p {
    color: black;
}

.light-mode .navigation p:hover {
    background-color: black;
    color: white;
}

.light-mode .home-title {
    color: black; 
}

.light-mode .home-begins {
    border-bottom: 1px solid black;
}

.light-mode .home-title button:hover {
    background-color: black;
    color: white;
}

.light-mode #title-movies {
    color: rgb(255, 0, 0);
    border-right: 10px solid black;
}

.light-mode .trending-section {
    border-top: 1px solid black;
}

.light-mode .old-but-gold-section {
    border-top: 1px solid black;
}

.light-mode .trending-section h2,
.light-mode .old-but-gold-section h3 {
    color: black;
}

.light-mode .contact-section {
    background: lightgray;
    color: rgb(0, 0, 0);
}

.light-mode .contact-section input,
.light-mode .contact-section textarea {
    background: #ffffff;
}

.light-mode .social-section {
    background-color: #ddd;
    color: black;
}

.light-mode .site-footer {
    background-color: #d3d3d3;
    color: black;
}

/* MEDIA RESPONSIVE */

@media (max-width: 767px) {
    
    /* NAV-BAR */
    .nav-bar {
        flex-wrap: wrap; 
        padding: 10px 0;
        justify-content: space-between;
    }

    .logo {
        order: 1;
        position: static;
        left: auto;
        top: auto; 
    }

    .logo img {
        height: 70px;
    }

    .responsive-buttons {
        order: 2;
        position: static;
        right: auto; 
        margin-left: auto;
        gap: 15px;
    }
    
    .navigation {
        order: 3;
        flex-basis: 100%;
        justify-content: center;
        gap: 1rem;
        padding-top: 10px;
    }

    /* HOME BEGINS*/
    .home-begins {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .home-title {
        order: 2;
        margin-top: 2rem;
        padding-left: 0;
        width: 100%;
    }

    .home-title h1 {
        font-size: 2.5rem;
    }

    #popcorn-button {
        font-size: 3rem;
    }
    
    #title-movies {
        font-size: 5rem;
        letter-spacing: 10px;
        width: 100%; 
        border-right-width: 5px;
    }
    
    .movie-photos {
        order: 1;
        position: static;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .batman-photo, .deadpool-photo {
        position: static;
        width: 48%; 
        height: auto;
    }
    
    /* TRENDING */
    .trending-movies {
        grid-template-columns: repeat(2, 1fr);
    }

    /* OLD BUT GOLD */
    .old-but-gold-section {
        margin-top: 40px;
    }
}

@media (max-width: 468px) {
    
    /* NAV-BAR */
    .logo img {
        height: 100px;
    }

    .navigation p {
        font-size: 0.8rem; 
        padding: 4px 8px;
    }

    /* HOME BEGINS */
    .home-title h1 {
        font-size: 2rem;
    }
    
    #title-movies {
        font-size: 4rem;
        letter-spacing: 5px;
        width: 100%;
    }

    .home-title p {
        margin-top: 10px;
        font-size: 0.6rem;
    }

    .batman-photo, .deadpool-photo {
        width: 90%; 
    }
    
    /* TRENDING */
    .trending-movies {
        display: grid; 
        grid-template-columns: repeat(4 1fr); 
        gap: 10px;
        height: auto;
    }

    .trending-movies > div,
    .zootopia-movie, .frankenstein-movie, .predator-movie, .wicked-movie {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .trending-movies img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    
    .movie-info {
        padding: 5px;
    }

    .movie-info h2 {
        font-size: 1rem;
    }

    .movie-info p {
        font-size: 0.75rem;
    }

    .costa-tips-section {
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
        margin-top: 50px; 
        width: 100%;
    }

    #slide {
        padding-top: 30px;
        height: 300px;
        width: 50%; 
        margin: 0 auto;
    }

    .costa-tips-section img:last-child {
        height: 180px; 
        margin: 0 auto;
    }

    .button-tips {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px; 
    }

    .btn-img img {
        width: 30px;
        height: 30px;
    }
}